@media (max-width: 600px) {
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.article_container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.downloadCaption {
  font-family: "San Francisco", Inter, serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  color: #aeaeb2;
  margin: 24px 0;
  padding-bottom: 64px;
  border-bottom: 1px solid #f5f5f5;
  width: 600px;
  white-space: pre-wrap;
}
.downloadButton {
  background-color: #4859ed;
  color: white;
  padding: 12px 24px;
  border-radius: 16px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  max-width: 320px;
  display: flex;
  margin: auto;
}
.qrCodeContainer {
  margin-top: 1em;
  text-align: center;
}

.qrCodeButton {
  padding: 4px 8px;
  border-radius: 8px;
  margin-left: 2px;
}

.qrCodeButton:hover {
  color: white;
  background-color: #4859ed;
}

.qrCode {
  margin: 8px auto 0;
}

.description {
  white-space: pre-wrap;
  text-align: left;
  margin: 0.5rem 0;
}

.description a {
  color: #4859ed;
}

.description a:hover {
  text-decoration: underline;
}

.instructionGif {
  width: 100%;
}

.descriptionLine {
  margin-top: 40px;
  width: 600px;
  align-items: center;
}

.playerWrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  margin-top: 20px;
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

code,
kbd,
pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 0.8rem;
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  word-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
}

pre {
  /* word-wrap: normal; */
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
}

pre {
  background-color: #011627;
  padding: 1.25rem;
  border-radius: 8px;
  color: #edf2f7;
  overflow-x: scroll;
}
.markdown a {
  color: #162be1;
  text-shadow: #6a737d;
  font-weight: 600;
  background-color: #1b1f230d;
  text-decoration: solid;
}
.markdown a:active,
.markdown a:hover {
  outline-width: 0;
}

.markdown h1,
.markdown h2 {
  font-weight: 600;
  margin-bottom: 0.75rem;
  margin-top: 2rem;
}

.markdown h1:first-child {
  margin-top: 0rem;
}

.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: 600;
}

.markdown h1 {
  font-size: 1.5rem;
}

.markdown h2 {
  font-size: 1.25rem;
}

.markdown h3,
.markdown h4 {
  font-size: 1rem;
}

.markdown h5,
.markdown h6 {
  font-size: 1rem;
}

.markdown ul.contains-task-list {
  list-style-type: none;
  padding: 0;
}

.markdown details {
  display: block;
}

.markdown summary {
  display: list-item;
}

.markdown hr {
  height: 2px;
  padding: 0;
  margin: 10px 0;
  background-color: #edf2f7;
  border: 0;
  overflow: hidden;
  box-sizing: initial;
}

.markdown hr:after,
.markdown hr:before {
  display: table;
  content: "";
}

.markdown hr:after {
  clear: both;
}

.markdown blockquote,
.markdown details,
.markdown dl,
.markdown ol,
.markdown p,
.markdown pre,
.markdown table,
.markdown ul {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown code,
.markdown kbd,
.markdown pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 0.8rem;
}

.markdown code {
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  word-wrap: break-word;
}

.markdown pre {
  /* word-wrap: normal; */
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
}

.markdown pre {
  background-color: #011627;
  padding: 1.25rem;
  border-radius: 8px;
  color: #edf2f7;
  overflow-x: scroll;
}

.markdown ul,
.markdown ol {
  padding-left: 1.25rem;
}

.markdown blockquote {
  padding: 0.1rem 0.8rem;
  color: #6a737d;
  border-left: 0.25em solid #edf2f7;
  word-wrap: break-word;
}

.markdown blockquote > :first-child {
  margin-top: 0;
}

.markdown blockquote > :last-child {
  margin-bottom: 0;
}

.markdown table tr th:first-child,
.markdown table tr td:first-child {
  padding-left: 0;
}

.markdown p {
  line-height: 1.8;
}

.markdown table {
  padding: 10px;
  display: block;
  width: 100%;
  overflow: auto;
}

.markdown table th {
  font-weight: 600;
}

.markdown table td,
.markdown table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdown table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
.markdown img {
  width: auto;
  margin: auto;
  display: block;
}
/*
.markdown a {
  background-color: initial;
}

.markdown a:active,
.markdown a:hover {
  outline-width: 0;
}

.markdown strong {
  font-weight: inherit;
  font-weight: bolder;
}

.markdown img {
  border-style: none;
}

.markdown code,
.markdown kbd,
.markdown pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.markdown input {
  font: inherit;
  margin: 0;
}

.markdown input {
  overflow: visible;
}

.markdown [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.markdown * {
  box-sizing: border-box;
}

.markdown input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown a {
  color: #0366d6;
  text-decoration: none;
}

.markdown a:hover {
  text-decoration: underline;
}

.markdown strong {
  font-weight: 600;
}

.markdown table {
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown td,
.markdown th {
  padding: 0;
}

.markdown details summary {
  cursor: pointer;
}

.markdown kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown h1 {
  font-size: 32px;
}

.markdown h1,
.markdown h2 {
  font-weight: 600;
}

.markdown h2 {
  font-size: 24px;
}

.markdown h3 {
  font-size: 20px;
}

.markdown h3,
.markdown h4 {
  font-weight: 600;
}

.markdown h4 {
  font-size: 16px;
}

.markdown h5 {
  font-size: 14px;
}

.markdown h5,
.markdown h6 {
  font-weight: 600;
}

.markdown h6 {
  font-size: 12px;
}

.markdown p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown blockquote {
  margin: 0;
}

.markdown ol,
.markdown ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.markdown ol ol,
.markdown ul ol {
  list-style-type: lower-roman;
}

.markdown ol ol ol,
.markdown ol ul ol,
.markdown ul ol ol,
.markdown ul ul ol {
  list-style-type: lower-alpha;
}

.markdown dd {
  margin-left: 0;
}

.markdown code,
.markdown pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 12px;
}

.markdown pre {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown input::-webkit-inner-spin-button,
.markdown input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.markdown :checked + .radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

.markdown kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

.markdown:after,
.markdown:before {
  display: table;
  content: "";
}

.markdown:after {
  clear: both;
}

.markdown > :first-child {
  margin-top: 0 !important;
}

.markdown > :last-child {
  margin-bottom: 0 !important;
}

.markdown a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown blockquote,
.markdown details,
.markdown dl,
.markdown ol,
.markdown p,
.markdown pre,
.markdown table,
.markdown ul {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.markdown blockquote > :first-child {
  margin-top: 0;
}

.markdown blockquote > :last-child {
  margin-bottom: 0;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown h1 {
  font-size: 2em;
}

.markdown h1,
.markdown h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}

.markdown h2 {
  font-size: 1.5em;
}

.markdown h3 {
  font-size: 1.25em;
}

.markdown h4 {
  font-size: 1em;
}

.markdown h5 {
  font-size: 0.875em;
}

.markdown h6 {
  font-size: 0.85em;
  color: #6a737d;
}

.markdown ol,
.markdown ul {
  padding-left: 2em;
}

.markdown ol ol,
.markdown ol ul,
.markdown ul ol,
.markdown ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown li {
  word-wrap: break-all;
}

.markdown li > p {
  margin-top: 16px;
}

.markdown li + li {
  margin-top: 0.25em;
}

.markdown dl {
  padding: 0;
}

.markdown dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}



.markdown img {
  max-width: 100%;
  box-sizing: initial;
  background-color: #fff;
}

.markdown img[align="right"] {
  padding-left: 20px;
}

.markdown img[align="left"] {
  padding-right: 20px;
}

.markdown code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

.markdown pre {
  word-wrap: normal;
}

.markdown pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
}
*/

.svg {
  max-height: 100px;
  width: 100%;
  margin: auto;
  display: block;
}
