@font-face {
  font-family: "LXGWWenKai-Bold";
  src: url("/fonts/lxgw-wenkai/LXGWWenKai-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "LXGWWenKai-Light";
  src: url("/fonts/lxgw-wenkai/LXGWWenKai-Light.ttf");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "LXGWWenKai-Regular";
  src: url("/fonts/lxgw-wenkai/LXGWWenKai-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "LXGWWenKaiMono-Bold";
  src: url("/fonts/lxgw-wenkai/LXGWWenKaiMono-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "LXGWWenKaiMono-Light";
  src: url("/fonts/lxgw-wenkai/LXGWWenKaiMono-Light.ttf");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "LXGWWenKaiMono-Regular";
  src: url("/fonts/lxgw-wenkai/LXGWWenKaiMono-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@media (max-width: 600px) {
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.article_container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qrCodeContainer {
  margin-top: 1em;
  text-align: center;
}

.qrCodeButton {
  padding: 4px 8px;
  border-radius: 8px;
  margin-left: 2px;
}

.qrCodeButton:hover {
  color: white;
  background-color: #4859ed;
}

.qrCode {
  margin: 8px auto 0;
}

.description {
  white-space: pre-wrap;
  text-align: left;
  margin: 0.5rem 0;
}

.description a {
  color: #4859ed;
}

.description a:hover {
  text-decoration:none;
}

.instructionGif {
  padding-top: 20px;
  width: 100%;
}
code,
kbd,
pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace, LXGWWenKaiMono-Bold;
  font-size: 0.8rem;
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  word-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
}

pre {
  /* word-wrap: normal; */
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
}

pre {
  background-color: #011627;
  padding: 1.25rem;
  border-radius: 8px;
  color: #edf2f7;
  overflow-x: scroll;
}
.markdown a {
  color: #162be1;
  text-shadow: #6a737d;
  font-weight: 600;
  background-color: #1b1f230d;
  text-decoration: solid;
}
.markdown a:active,
.markdown a:hover {
  outline-width: 0;
  text-decoration: #011627;
}

.markdown h1,
.markdown h2 {
  font-weight: 600;
  margin-bottom: 0.75rem;
  margin-top: 2rem;
}

.markdown h1:first-child {
  margin-top: 0rem;
}

.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: 600;
}

.markdown h1 {
  font-size: 1.5rem;
}

.markdown h2 {
  font-size: 1.25rem;
}

.markdown h3,
.markdown h4 {
  font-size: 1rem;
}

.markdown h5,
.markdown h6 {
  font-size: 1rem;
}

.markdown ul.contains-task-list {
  list-style-type: none;
  padding: 0;
}

.markdown details {
  display: block;
}

.markdown summary {
  display: list-item;
}

.markdown hr {
  height: 2px;
  padding: 0;
  margin: 10px 0;
  background-color: #edf2f7;
  border: 0;
  overflow: hidden;
  box-sizing: initial;
}

.markdown hr:after,
.markdown hr:before {
  display: table;
  content: "";
}

.markdown hr:after {
  clear: both;
}

.markdown blockquote,
.markdown details,
.markdown dl,
.markdown ol,
.markdown p,
.markdown pre,
.markdown table,
.markdown ul {
  margin-top: 0;
  margin-bottom: 16px;
}



.markdown code,
.markdown kbd,
.markdown pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 0.8rem;
}

.markdown code {
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  word-wrap: break-word;
}

.markdown pre {
  /* word-wrap: normal; */
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
}

.markdown pre {
  background-color: #011627;
  padding: 1.25rem;
  border-radius: 8px;
  color: #edf2f7;
  overflow-x: scroll;
}

.markdown ul,
.markdown ol {
  padding-left: 1.25rem;
}

.markdown blockquote {
  padding: 0.1rem 0.8rem;
  color: #6a737d;
  border-left: 0.25em solid #edf2f7;
  word-wrap: break-word;
}

.markdown blockquote > :first-child {
  margin-top: 0;
}

.markdown blockquote > :last-child {
  margin-bottom: 0;
}

.markdown table tr th:first-child,
.markdown table tr td:first-child {
  padding-left: 0;
  width: 26%; 
}

.markdown p {
  line-height: 1.8;
}
.markdown table {
  padding-left: 10px;
  overflow-wrap: anywhere;
  word-break: break-all;
  width: 100%; 
  text-align: center;
  /* display: block; */
}

.markdown table th {
  font-weight: 600;
  font-size:small;
}

.markdown table td,
.markdown table th {
  border: 1px solid #dfe2e5;
  font-size:small;
}

.markdown table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdown table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
.markdown img {
  width: auto;
  margin: auto;
  display: flex;
}
.svg {
  max-height: 100px;
  width: 100%;
  margin: auto;
  display: block;
}
